body{
  background-color: blanchedalmond;
}

#datalist {
  position: relative;
}
#datalist li {
  position: absolute;
  list-style: none;
  top: 0;
  margin: 0;
  padding: 0;
}
#datalist li, #datalist a {
  height: 44px;
  display: block;
}
#home{
  width: 46px;
  left: 0;
  background: url('navsprites.jpg') 0 0;
}
#previous{
  width: 43px;
  left: 50px;
  background: url('navsprites.jpg') -47px 0;
}
#next{
  width: 43px;
  left: 94px;
  background: url('navsprites.jpg') -91px 0; 
  /* the two figures after the url position the 'viewable image' */
  /* the width & left properties position the image where it viewed on the DOM */
}
