body{
  background: rgb(88, 10, 139);
  background: linear-gradient(90deg, rgba(84, 91, 92,1) 30%, rgba(2, 62, 97,2) 65%, rgba(7, 18, 161,2) 100%);
  font-family: Arial, Helvetica, sans-serif;

}
h2, h3 {
  text-align: center;
  font-size: 48px;
  color: aliceblue;
  text-decoration: underline;
  text-shadow: 2px 2px 10px darkmagenta, 0 0 5px yellow, 0 0 5px orange;
}
h4{
  font-size: 34px;
  font-family: 'Abril Fatface', cursive;
  
  color: purple;
  text-align: center;
  text-shadow: 2px 2px 10px darkmagenta, 0 0 5px yellow, 0 0 5px orange;
}
article{
  font-size: 26px;
  font-family: 'Corinthia', cursive;
  text-align: center;
}
#main{
  /* border: 1px solid; */
  height: 650px;
  width: 450px;
  margin: auto;
  background-color: red;
}
.smallContainer{
  /* border-top: 1px solid;
  border-bottom: 1px solid; */
  border-top: 1px solid red;
  border-right: none;
  border-left: none;
  height:101px;
  width: 100%;
  margin-top: 10px;
}

#largeContainer{
  border: 1px solid white;
  border-radius: 7%;
  outline: lightblue solid 10px;
  /* outline-offset: 2px; */
  height:350px;
  width: 350px;
  margin:  20px 50px;
  background-color: white;
}
.boxLeft{
  height: 90px;
  width: 90px;
  border: 1px solid red;
  border-radius: 7%;
  margin-top: 10px;
  margin-left: 15px;
  background-color: white;
}
.boxRight{
  height: 90px;
  width: 90px;
  border: 1px solid red;
  border-radius: 7%;
  margin-top: -92px;
  margin-left: 330px;
  background-color: white;

}
#a{
  font: bold small-caps 12px 'Abril Fatface', cursive ;
  
}
#b{
  font: bold 10px/10px 'Helvetica', serif;
}