body{
  background-color: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;

}
h2{
  margin-top: 100px;
}

ul {
  list-style-type: none;
  background-color: grey;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* If we want the navbar to remain at the top of the page we include this code below */
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 16px 10px;
  text-align: center;
  text-decoration: none;
}
li a:link{
  color: lightblue;
}
li a:visited{
  color: purple;
}
li a:hover {
  background-color: darkgoldenrod;
}
li a:active {
  background-color: green;
}
