*{
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-size: 22px;
}
.a {
  display: inline; 
  width: 80px;
  height: 30px;
  border: 1px solid;
  background-color: green;
  padding: 5px;
  margin: 5px;
}
.b {
  display: inline-block; 
  width: 180px;
  height: 180px;
  border: 1px solid;
  background-color: green;
  padding: 5px;
  margin: 5px;
}
.c {
  display: block; 
  width: 180px;
  height: 180px;
  border: 1px solid;
  background-color: green;
  padding: 5px;
  margin: 5px;
}